body {                                      /*Lay out of the body*/
font-family: 'Poppins', sans-serif;
}

*{transition:all 0.3s ease-in-out;}

.container{                                 /*Lay out of the container*/
  clear:both;
  overflow:auto;
  background: #FFF7C6;
}

.container a {                             /*Lay out of the container a*/
  color: black;
  padding: 15px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}


nav{float:right;}                         /*Navigation menu float side*/

.logo img{float:left;}                    /*Navigation image float side*/

ul li{                                    /*Lay out of the li inside of the ul*/
  display: inline-block; padding:10px;
  font-size:20px; font-family:raleway;
}
  
ul li:hover{                              /*Lay out of the hover over the li inside of the ul*/
  background-color:rgb(199,97,93);
  color: black;  
}

il li:active{                             /*Lay out of the active over the li inside of the ul*/
  background-color: #CC0701;
  color: white;
}

.content-box-1 {                          /*Lay out of the content box 1*/
  background-color: #D2D5CE ;
  border: 1px solid rgb(242, 245, 239) ;
  color: #black;
  width:90%;
}








@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);



.text {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 85%;
  margin-top: -20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 10;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #CC0701;
}


